@{
    ViewData["Title"] = "About Me";
}

<div class="card">
    <h2><i class="fa-solid fa-circle-info"></i> About Me</h2>
    <p>   I’m currently learning full-stack web development and improving my front-end design skills.</p>
    <p>   This site is part of my ASP.NET MVC learning journey.</p>
</div>

<div class="card">
    <h3>My Interests</h3>
    <ul>
         <li>Web development</li>
         <li>Programming in C# and Java</li>
         <li>UI/UX design</li>
         <li>Creative digital projects</li>
    </ul>
</div>
